* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

menu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

.menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 380px;
  padding: 15px;
  border-radius: 15px;
}
.menu__content a {
  font-size: 24px;
  text-decoration: none;
  color: #767676;
}